@using ConnectCMS.Resources
<script type="text/html" id="enterpriseLocationRecommendTemplate">
	@Html.Partial( "~/Views/EnterpriseLocation/_RecommendTemplate.cshtml" )
</script>
<script type="text/html" id="enterpriseRecommendTemplate">
	@Html.Partial( "~/Views/Enterprise/_RecommendTemplate.cshtml" )
</script>
<script type="text/html" id="enterpriseLocationReorderTemplate">
	@Html.Partial( "~/Views/EnterpriseLocation/_ReorderTemplate.cshtml" )
</script>
<script type="text/html" id="enterpriseReorderTemplate">
	@Html.Partial( "~/Views/Enterprise/_ReorderTemplate.cshtml" )
</script>
<div data-bind="with: RecommendationRecommendViewModel">
	<div class="toolBarContainer" data-bind="css: !MapVisible() ? 'overflow' : ''">
		<div class="flexSpacer">
			<select class="marginRight" data-bind="options: RecommendationViewModel.CategoriesOnDevice(), optionsCaption: '@(ConnectCMSResources.AllCategories)', optionsText: 'Name', value: SelectedCategory, enable: SearchEnabled"></select>
			<input class="marginLeft marginRight" type="text" data-bind="value: Text, enable: SearchEnabled, valueUpdate: 'input'" />
			<a class="linkButton marginLeft" data-bind="click: ClickSearch, css: SearchEnabled() ? '' : 'disabled'">@ConnectCMSResources.Search</a>
		</div>
		<div>
			<label class="horizontal marginRight" for="sortBySelect">@ConnectCMSResources.SortBy</label>
			<select class="marginRight" id="sortBySelect" data-bind="value: Sort, enable: SearchEnabled">
				<option value="1">@ConnectCMSResources.Nearest</option>
				<option value="2">@ConnectCMSResources.Alphabetical</option>
				<option value="3">@ConnectCMSResources.Order</option>
			</select>
			<div class="vr marginLeft marginRight"></div>
			<a class="imageButton horizontal map marginLeft marginRight" data-bind="text: MapText, click: ClickMap, css: MapVisible() ? 'hide' : 'show'"></a>
			<div class="vr marginLeft marginRight"></div>
			<a class="linkButton green marginLeft" data-bind="click: ClickReorder">@ConnectCMSResources.Reorder</a>
		</div>
	</div>
	<div id="recommendBingMap" class="bingMap bottomBorder paddingBottom paddingTop" data-bind="bingMap: Map, css: MapVisible() ? 'overflow' : '', visible: MapVisible"></div>
	<div data-bind="progressBar: ProgressBarViewModel"></div>
	<div data-bind="visible: Executed">
		<div data-bind="template: { name: 'noDataTemplate', data: NoDataViewModel }"></div>
		<div data-bind="template: { name: 'enterpriseRecommendTemplate', foreach: Enterprises }"></div>
	</div>
</div>